{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST"  action="">

        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your user name"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password "><br><br>
        <input type="submit" value="Login">
    </form>
    <p>Havent signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
    
</div>

{% else %}

<div>
    <form method="POST"  action="">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Register">
    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>

{% endif %}
{% endblock %}